{% set classes = [
  'block news-last-container',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
]|merge(utility_classes ? utility_classes : []) %}

<div {{ attributes|without('id').addClass(classes) }}>

  {% block content %}
    <div class="d-flex justify-content-left mt-0 mb-2 my-sm-2 p-0 title-block-primary">
      <div class="media">
        <span class="align-self-center">
          {{ content.field_icon }}
        </span>
        <div class="media-body ml-3 align-self-center">
          {{ content.field_content_animated_icon }}
          <h2 class="mb-0 title-two-colors">
            {{ content.field_content_title_primary }} {{ content.field_content_title }}
          </h2>
        </div>
      </div>
    </div>

    {{ content.field_content_view }}
  {% endblock %}
</div> 