{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node projects__regulatory',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{% if node.isPublished() %}
<article{{ attributes.addClass(classes) }}>

  <section class="projects__regulatory-content pt-4 pt-md-5">

    <div{{ content_attributes.addClass('node__content container px-md-0') }}>

      {# ===== ===== ITEMS INFO ===== ===== #}
      <div class="node__content-info container d-flex flex-column flex-md-row px-0 mb-3">

        {# ===== ===== STATE ===== ===== #}
        <div class="node__content-info--items state d-flex">

          {% if content.field_estado_proyectos.0['#markup'] == 'Abierto' %}
            {% set icon = '/themes/custom/webcrc/src/images/proyecto-abierto.svg' %}
            {% set text = 'open Project'|trans %}
            {% set alt = 'open Project'|trans %}
          {% elseif content.field_estado_proyectos.0['#markup'] == 'Finalizado'%}
            {% set icon = '/themes/custom/webcrc/src/images/proyecto-finalizado.svg' %}
            {% set text = 'finished Project'|trans %}
            {% set alt = 'finished Project'|trans %}
          {% else %}
            {% set text = 'Discontinued'|trans %}
            {% set alt = 'Discontinued'|trans %}
            {% set icon = '/themes/custom/webcrc/src/images/icono-suspendido-circulo.svg' %}            
          {% endif %}       
          
          <img src="{{ icon }}" alt="{{ alt }}" onerror="this.remove();">
          <p class="m-auto flex-grow-1 flex-lg-grow-0 pl-1 pl-lg-0">{{ text }}</p>        

        </div>

        {# ===== ===== SERVICES ===== ===== #}
        <div class="node__content-info--items services order-lg-2 order-lg-2 px-md-2 mt-3 mt-md-0">         
          {{ content.field_projects_services }}         
        </div>

        {# ===== ===== DATE COMMENTS ===== ===== #}
        {# ===== ===== Tomar la fecha de cierre de la ultima interaccion ===== ===== #}
        {% if content.field_estado_proyectos.0['#markup'] == 'Abierto' %}
          {% for key, value in node.field_interacciones_proyectos %}
            {% if loop.last %}
              {% set dateClose = content.field_interacciones_proyectos[key]['#paragraph'].field_fecha_cierre_iteracciones.value %}

              <div class="node__content-info--items date-comments order-2 order-lg-3 d-flex mb-2 mb-lg-0 px-lg-2 mt-3 mt-md-0">

                <img src="/themes/custom/webcrc/src/images/aceptan-comentarios.svg" alt="{{ 'Comments are accepted until'|t }}"> 

                <p class="m-auto text-left pl-1 pl-lg-0 flex-grow-1 flex-lg-grow-0">

                  {{ 'Comments are accepted until'|t }}

                  <time datetime='{{ dateClose|date('U')|format_date('fecha_corta_webcrc') }}' class='border-0 p-0'>{{ dateClose|date('U')|format_date('fecha_corta_webcrc') }}</time>

                </p>               
              </div>              
            {% endif %}
          {% endfor %}
        {% endif %}     

      </div>
      {# ===== ===== TITLE PROJECTS ===== ===== #}
      <h1 class="node__content-title">{{ content.field_nombre_proyecto.0 }}</h1>

      {# ============================================
      RESUMEN Y MECANISMOS DE PARTICIPACION E INTERACCIONES
      =============================================== #}
      <div class="row">

        <div class="col-12 col-lg-8">

          {# ===== ===== TIPO DE PROYECTO ===== ===== #}
          <div class="node__content-type-project">
            <p class='font-weight-bold mb-0'>{{'Type of project'|t}}</p>
            {{ content.field_type_projects_comments.0}}
          </div>
          <hr class="my-3">

          {# ===== ===== RESUMEN ===== ===== #}
          <div class="node__content-abstract">
             <p class='font-weight-bold'>{{'Abstract'|t}}</p>
            {{ content.field_resumen_proyecto.0 }}            
          </div>          

          {# ===== ===== DOCUMENTACION FINAL ===== ===== #}
          {% if content.field_projects_documents_endings['#items'] != null %}
            <hr>
            <div class="node__content-documents py-3">
              <div id="accordion">
                <div class="card shadow">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <a class="text-white w-100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <img src="/themes/custom/webcrc/src/images/Final.svg">
                        {{ 'Final'|t }}
                      </a>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <div class="file__content-title Documents">
                        <strong>{{ 'Documents'|t}}</strong>
                      </div>
                      {{ content.field_projects_documents_endings}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}  
          
          <hr>

          {# ===== ===== INTERACCIONES ===== ===== #}
          <div class="node__content-interactions">

            <h3 class='mb-3'>{{ 'Interactions'|t }}</h3>

            {{ content.field_interacciones_proyectos }} 
            
          </div> 
               
        </div>

        {# ===== ===== MECANISMOS DE PARTICIPACION ===== ===== #}
        <div class="col-12 col-lg-4 node__content-mechanisms mt-5 mt-lg-0">

          <ul class="list-group">

            <li class="list-group-item active font-weigth-bold text-left text-md-center px-2 px-md-4"><i class="fas fa-inbox text-white"></i> {{ 'Mechanisms for participation'|trans }}</li>

            <li class="list-group-item node__content-mechanisms--email pt-3 pb-1 px-2 px-md-4"><img src="/themes/custom/webcrc/src/images/email.svg" onerror='this.remove();'><a href="mailto:{{ content.field_email_proyectos.0 }}?Subject=Cordial%20saludo%20señores%20de%20la%20CRC" class="text mx-2 font-weight-bold">{{ content.field_email_proyectos.0 }}</a></li>

            <li class="list-group-item node__content-mechanisms--enlaces py-1 px-2 px-md-4">{{ content.field_projects_links }}</li>
            
            <li class="list-group-item node__content-mechanisms--facebook py-1 pb-1 px-2 px-md-4"><img src="/themes/custom/webcrc/src/images/Facebook.svg" onerror='this.remove();'><a href="javascript:void(0)" class="text mx-2 font-weight-bold">Facebook</a></li>

            <li class="list-group-item node__content-mechanisms--twitter py-1 pb-1 px-2 px-md-4"><img src="/themes/custom/webcrc/src/images/Twitter.svg" onerror='this.remove();'><a href="javascript:void(0)" class="text mx-2 font-weight-bold">Twitter</a></li>

            <li class="list-group-item node__content-mechanisms--email pb-3 px-2 px-md-4 d-flex"><img src="/themes/custom/webcrc/src/images/Direccion.svg"><a class="text mx-2 font-weight-bold text-decoration-none" href='javascript:void(0)'>{{ content.field_oficina_proyecto.0 }}</a></li>
            
          </ul>

        </div>

        <div class='col-12 node__content-useful'>
          {{ content.field_poll_content_useful.0 }}
        </div>

      </div>

    </div>

  </section>

  <section class="projects__regulatory-related container-fluid px-0 mt-5">
    <div id='content-related--bg--webcrc'></div>
    {{ drupal_view('projects_comments', 'block_projects_related') }}    
  </section>  

</article>
{% endif %}
