{% set classes = [
  'block',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
]|merge(utility_classes ? utility_classes : []) %}

{% if html_tag %}
  <{{ html_tag }}{{ attributes|without('id').addClass(classes) }}>
{% endif %}

  {% block content %}
    <div class="footer_logo_webcrc">
      <div class="row">
        <div class="col-12">
          {{ content.field_home_footer_logo_webcrc }}
        </div>
      </div>
    </div>
    <div class="footer_location">
      <div class="row">
        <div class="col-12">
          {{ content.field_home_footer_location }}
        </div>
      </div>
    </div>
    <div class="footer_contacts">
      <div class="row">
        <div class="col-12">
          {{ content.field_home_footer_contacts }}
        </div>
        <div class="col-12">
          {{ content.field_home_footer_insti_mail }}
        </div>
        <div class="col-12">
          {{ content.field_home_footer_judicial_mail }}
        </div>
      </div>
    </div>
    <div class="footer_org">
      <div class="row">
        <div class="col-12">
          {{ content.field_home_footer_txt_org }}
        </div>
        <div class="col-12">
          {{ content.field_home_footer_img_org }}
        </div>
      </div>
    </div>
    <div class="footer_social">
      <div class="row">
        <div class="col-12">
          {{ content.field_home_footer_title_social }}
        </div>
        <div class="col-12">
          <ul class="list-group list-group-horizontal flex-wrap social-networks">
            {% for key, item in content.field_social_networks if key|first != '#' %}
              {% set social_network = item %}
              {{ social_network }}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endblock %}

{% if html_tag %}
  </{{ html_tag }}>
{% endif %} 