{% set classes = [
  'block',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
]|merge(utility_classes ? utility_classes : []) %}

{% if html_tag %}
  <{{ html_tag }}{{ attributes|without('id').addClass(classes) }}>
{% endif %}

  {% block content %}
    <div class="footer_bottom">
      <div class="d-flex justify-content-start align-items-center flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight logo-co">
          <a href="{{ content.field_home_footer_url_co[0]['#title'] }}" target="_blank">
            {{ content.field_home_footer_logo_co }}
          </a>
        </div>
        <div class="p-2 bd-highlight logo-gov-co">
          <a href="{{ content.field_home_footer_url_govco[0]['#title'] }}" target="_blank">
            {{ content.field_home_header_logo_govco }}
          </a>
        </div>
      </div>
    </div>
  {% endblock %}

{% if html_tag %}
  </{{ html_tag }}>
{% endif %} 