{#
/**
 * @file
 * Template for a Node Full actas de comision.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="container my-5 text-rize">
    {% block content %}
      <div class="row">
        <div class="col-12 col-md-6">
          <h5>
            <strong>
              {{ content.field_type_act['#title'] }}
            </strong>
          </h5>
          <p>
            {{ content.field_type_act.0 }}
          </p>
        </div>
        <div class="col-12 col-md-4">
          <h5>
            <strong>
              {{ content.field_date['#title'] }}
            </strong>
          </h5>
          <p>
            {{ content.field_date.0 }}
          </p>
        </div>
        <div class="col-12">
          <h5>
            <strong>
              {{ content.field_introduccion_contenido['#title'] }}
            </strong>
          </h5>
          <p>
            {{ content.field_introduccion_contenido.0 }}
          </p>
        </div>
        <div class="col-12">
          <h5>
            <strong>
              {{ content.field_content_file['#title'] }}
            </strong>
          </h5>
          <p>
            {% if content.field_content_file.0 %}
              <a  href="{{ file_url(content.field_content_file.0['#file'].fileuri) }}"
                  target="_blank"
                  title="{{ content.field_content_file.0['#file'].filename.value }}">
                {{ content.field_content_file.0['#file'].filename.value }}
              </a>
            {% endif %}
          </p>
        </div>
      </div>
    {% endblock %}
  </div>
</article>