{#
/**
 * @file
 * Template for the page title.
 */
#}
{{ title_prefix }}

{% if title %}

  <section class="header__title container-fluid bg-white py-3">

    <div class="mx-5 px-5">
    
      <h2{{ title_attributes.addClass('title font-weight-bold display-5') }}>{{ title }}</h2>

      {{ drupal_breadcrumb() }}

    </div>

  </section>

{% endif %}

{{ title_suffix }}
