{% set classes = [
  'block indicators-container md-3 m-0 p-5',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
]|merge(utility_classes ? utility_classes : []) %}

{% if html_tag %}
  <{{ html_tag }}{{ attributes|without('id').addClass(classes) }}>
{% endif %}

  {% block content %}
    <div class="d-flex justify-content-center mt-0 mt-sm-5 mb-4 p-0 title-block-primary">
      <div class="media">
        <span class="align-self-center">
          {{ content.field_icon }}
        </span>
        <div class="media-body ml-3 align-self-center">
          {{ content.field_content_animated_icon }}
          <h2 class="mb-0">
            {{ content.field_content_title }}
          </h2>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mb-5 align-items-stretch indicators-container-items">
      <div class="card h-100 text-center mr-4 card-indicator">
         <div class="card-body">
            <p class="logo-postdata">
              Pd
            </p>
            {# {{ content.field_logo }} #}
         </div>
         <div class="card-footer">
            <a  class="stretched-link"
                href="{{ content.field_primary_url.0['#url'] }}">
              {{ content.field_primary_url.0['#title'] }}
            </a>
         </div>
      </div>
      {% for key, item in content.field_indicator if key|first != '#' %}
        {% set section_indicator = item %}
        {{ section_indicator }}
      {% endfor %}
    </div>
  {% endblock %}

{% if html_tag %}
  </{{ html_tag }}>
{% endif %}