{#
/**
 * @file
 * Default template for a field.
 * variables
 * - document_defined: Definicion si existe algun documento final.
 */
#}
{%
  set classes = [
  bundle|clean_class ~ '__' ~ field_name_clean|clean_class,
  label_display == 'inline' ? 'd-flex',
]
%}
{%
  set title_classes = [
  'field__label',
  'font-weight-bold',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}
{% 
  set show = document_defined.0 is defined ? 'empty-document' : 'show' 
%}

{% if label_hidden %}

  <div id="accordion">

    {% if multiple %}

      <div{{ attributes.addClass(classes) }}>             

        {% for keys, item in items|reverse %}          

          <div class="card shadow">

            <div class="card-header" id="{{ loop.index }}">

              <div class="mb-0">

                <a class="btn btn-link text-left w-100 p-0" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">

                  <div class="d-flex flex-column flex-md-row">

                    <div class="flex-fill">

                      <img src="/themes/custom/webcrc/src/images/aceptan-comentarios.svg" alt={{'Accept comments'|t}} onerror="this.remove();">
                      <h6 class="text-white d-inline-block text-capitalize">{{ 'interactions'|t }} {{ loop.revindex }} </h6>
                      <br>
                      <small class='badge badge-light'>{{ item.content['#paragraph'].field_interactions_phases.value}}</small>

                    </div>

                    <div class="flex-fill">

                      <small class="text-white text-left text-md-center d-block h-100 my-1 text-lowercase">
                        {{'Comment closing date for this iteration'|t }}
                        <time datetime="{{ item.content['#paragraph'].field_fecha_cierre_iteracciones.value }}" class='border-0 p-0'><small class="text-white">{{ item.content['#paragraph'].field_fecha_cierre_iteracciones.value|date('U')|format_date('fecha_corta_webcrc') }}</small></time>
                      </small>

                    </div>                    
                  </div>
                </a>

              </div>

            </div>

            <div id="collapse{{ loop.index }}" class="collapse {{ loop.first ? show }}" aria-labelledby="{{ loop.index }}" data-parent="#accordion">

              <div class="card-body">

               <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>

              </div>

            </div>

          </div>
          
        {% endfor %}

      </div>
    {% else %}

      {% for item in items %}

        <div{{ attributes.addClass(classes) }}>{{ item.content }}</div>

      {% endfor %}

    {% endif %}

  </div>

{% else %}

  <div{{ attributes.addClass(classes) }}>

    <div{{ title_attributes.addClass(title_classes) }}>

      {{ label }}{% if label_display == 'inline' %}<span class="field__label__suffix mr-1">:</span>{% endif %}

    </div>

    {% if multiple %}

    <div class="field__items">

      {% endif %}

      {% for item in items %}

        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>

      {% endfor %}

      {% if multiple %}

    </div>

    {% endif %}

  </div>

{% endif %}