{#
/**
 * @file
 * Template for a Node.
 */
#}
{%
  set classes = [
  'node',
  'kids-page',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  {% block content %}
    <div class="card text-left">
      {{ content.field_content_background_image }}
      <div class="card-body">
        {{ content.field_content_video }}
        {{ content.field_introduccion_contenido }}
      </div>
      {{ content.field_content_logo }}
    </div>
    {{ content.field_content_tabs }}
  {% endblock %}
</article>

