{#
/**
 * @file
 * Default theme implementation for displaying a view as a bootstrap table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - responsive: A flag indicating whether table is responsive.
 * - sticky: A flag indicating whether table header is sticky.
 *
 * @see template_preprocess_views_bootstrap_table()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'cols-' ~ header|length,    
    sticky ? 'sticky-enabled',
    'text-center display table hover'
  ]
%}


{{ attach_library('webcrc_projects_regulatory/webcrc_projects_datatable') }}
{{ attach_library('webcrc_projects_regulatory/webcrc_projects_regulatory') }}

{# ============================================
FORMULARIO DE BUSQUEDA
=============================================== #}

<form action="" method='' class="form-group" id="form__projects-comments">

  <p class="h4 text-center text-white mb-3">{{'Find the project of your interest.'|t}}</p>

  <div id="filter_col4" data-column="4" class="input__projects-code input">
    <input type='text' id='col4_filter' class="column_filter form-control" placeholder="{{'Name or title: Improvement of mobile networks, Analysis of communication media ...'|t}}">
  </div>
  <hr class="bg-white">

  <div class="input__projects d-flex">

    <div id="filter_col1" data-column="1" class="my-3 input__projects-item input">
      <small><label for='projects-state' class="m-0 px-3">{{'State'|t}}</label></small>
      <select id='col1_filter' class="column_filter form-control px-3">
      <option value=''>{{ 'Please select...'|t}}</option>
        {% for statee in state %}
          <option value='{{statee}}'>{{statee}}</option>
        {% endfor %}
      </select>
    </div>

    <div id="filter_col6" data-column="6" class="my-3 input__projects-item input">
      <small><label for='projects-service' class="m-0 px-3">{{'Service'|t}}</label></small>
      <select id='col6_filter' class="column_filter form-control px-3">
      <option value=''>{{ 'Please select...'|t}}</option>
        {% for services in type_services %}
          <option value='{{services}}'>{{services}}</option>
        {% endfor %}
      </select>
    </div>

    <div id="filter_col5" data-column="5" class="my-3 input__projects-item input">
      <small><label for='projects-service' class="m-0 px-3">{{'Project type'|t}}</label></small>
      <select id='col5_filter' class="column_filter form-control px-3">
      <option value=''>{{ 'Please select...'|t}}</option>
        {% for type in type_typeprojects %}
          <option value='{{type}}'>{{type}}</option>
        {% endfor %}
      </select>
    </div>
    <div id="filter_col2" data-column="2" class="my-3 input__projects-item input">
      <small><label for='projects-service' class="m-0 px-3">{{'Comments'|t}}</label></small>
      <select id='col2_filter' class="column_filter form-control px-3">
      <option value=''>{{ 'Please select...'|t}}</option>      
      <option value='FALSE'>{{'Accept comments'|t}}</option>   
      <option value='TRUE'>{{'They do not accept comments'|t}}</option>      
      </select>
    </div>
  </div>

  <div class='btn__projects text-center mt-3'>
    <button class='btn btn-outline-light'>{{'New search'|t}}</button>
  </div>

</form>



<section class='table__projects bg-white rounded-lg shadow'>
  <table{{ attributes.addClass(classes) }} id="table__projects-regulatory" style="width:100%"> 
    {% if header %}
      <thead> 
        <tr>
          <th colspan="7">          
            {% if caption %}
              <p class="h4 text-left p-3">{{ caption }}</p>
            {% else %}
              <p class="h4 text-left p-4">{{ title }}</p>
            {% endif %}
            {% if (summary_element is not empty) %}
              {{ summary_element }}
            {% endif %}           
          </th>
        </tr>  
        <tr>          
          {% for key, column in header %}
            {% if column.default_classes %}
              {%
                set column_classes = [
                  'views-field',
                  'views-field-' ~ fields[key],
                ]
              %}
            {% endif %}
            <th{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col') }}>
              {%- if column.wrapper_element -%}
                <{{ column.wrapper_element }}>
                  {%- if column.url -%}
                    <a href="{{ column.url }}" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
                  {%- else -%}
                    {{ column.content }}{{ column.sort_indicator }}
                  {%- endif -%}
                </{{ column.wrapper_element }}>
              {%- else -%}
                {%- if column.url -%}
                  <a href="{{ column.url }}" title="{{ column.title }}">{{ column.content }}{{ column.sort_indicator }}</a>
                {%- else -%}
                  {{- column.content }}{{ column.sort_indicator }}
                {%- endif -%}
              {%- endif -%}
            </th>
          {% endfor %}
        </tr>
      </thead>
    {% endif %}
    <tbody>
      {% for row in rows %}
        <tr{{ row.attributes }}>
          {% for key, column in row.columns %}
            {% if column.default_classes %}
              {%
                set column_classes = [
                  'views-field'
                ]
              %}
              {% for field in column.fields %}
                {% set column_classes = column_classes|merge(['views-field-' ~ field]) %}
              {% endfor %}
            {% endif %}
            <td{{ column.attributes.addClass(column_classes) }}>
              {%- if column.wrapper_element -%}
                <{{ column.wrapper_element }}>
                {% for content in column.content %}
                  {{ content.separator }}{{ content.field_output }}
                {% endfor %}
                </{{ column.wrapper_element }}>
              {%- else -%}
                {% for content in column.content %}
                  {{- content.separator }}{{ content.field_output -}}
                {% endfor %}
              {%- endif %}
            </td>
          {% endfor %}          
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
