{#
/**
 * @file
 * Template for Header component.
 *
 * Available config:
 * - container: fixed | fluid.
 * - placement: default | fixed-top | fixed-bottom | sticky-top
 * - color: light | dark
 * - utility_classes: An array of utility classes.
 *
 * Available blocks:
 * - branding
 * - left
 * - right
 */
#}
{% set container = container == 'fixed' ? 'container' : false %}
{% set placement = placement ?? '' %}
{% set color = color ?? 'light' %}

<header id="page-header" class="page__header container-fluid p-0">
  <section id="toolbar_header">
    <div class="row m-0 pl-5 pr-5 align-items-center header-gov">
      <div class="col pl-5 text-left">
        {% block toolbar_left %}
          {{ toolbar_left }}
        {% endblock %}
      </div>

      <div class="col pr-5 text-right">
        {% if path('<front>') == "/es" %}
          <a href="/en">
            <span class="govco-icon govco-icon-language-en-n lang-govco ml-3"></span>
          </a>
        {% else %}
          <a href="/es">
            <span class="govco-icon govco-icon-language-es-n lang-govco ml-3"></span>
          </a>
        {% endif %}
        {% block toolbar_right %}
          {{ toolbar_right }}
        {% endblock %}
      </div>
    </div>
  </section>

  <section id="primary_header">
    <div class="row m-0 align-items-center header-webcrc">
      <div class="col-6 col-md-5 p-0 logo-crc">
        <a href="{{ url('<front>') }}">
          {% block logo %}
            {{ logo }}
          {% endblock %}
        </a>
      </div>

      <div class="col-3 col-md-3 col-lg-7 p-0 search-primary">
        {% block search %}
          {{ search }}
        {% endblock %}
      </div>

      <div class="col-3 col-md-4 col-lg-12 p-0">
        <nav id="main_menu" class="nav-main-menu primary-menu {{ is_front ? 'home-menu' : null }}">
          {% block menu %}
            {{ menu }}
          {% endblock %}
        </nav>
      </div>
    </div>
  </section>
</header>

{% block breadcrumbs %}
  {{ breadcrumbs }}
{% endblock %}

<section id="top_a" class="page__top_a container-fluid p-0">
  <div class="home-slide">
    {% block top_a %}
      {{ top_a }}
    {% endblock %}
  </div>
</section>