{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  
  {% embed '@webcrc/block/header/header.twig' with {
    placement: 'sticky-top',
    container: 'fixed',
    color: 'light',
    utility_classes: ['bg-light']
  } %}
    
    {% block toolbar_left %}
      {% if page.toolbar_left %}
        {{ page.toolbar_left }}
      {% endif %}
    {% endblock %}
    
    {% block toolbar_right %}
      {% if page.toolbar_right %}
        {{ page.toolbar_right }}
      {% endif %}
    {% endblock %}

    {% block logo %}
      {% if page.logo %}
        {{ page.logo }}
      {% endif %}
    {% endblock %}

    {% block search %}
      {% if page.search %}
        {{ page.search }}
      {% endif %}
    {% endblock %}

    {% block menu %}
      {% if page.main_menu %}
        {{ page.main_menu }}
      {% endif %}
    {% endblock %}

    {% block top_a %}
      {% if page.top_a %}
        {{ page.top_a }}
      {% endif %}
    {% endblock %}

  {% endembed %}

  {# {% if page.header %}
    <header class="page__header">
      <div class="container-fluid p-0">
        {{ page.header }}
      </div>
    </header>
  {% endif %}

   <div class="page__top_a">
    <div class="container-fluid p-0">
      {% if page.primary_menu %}
        <nav class="nav-main-menu home-menu">
          {{ page.primary_menu }}
        </nav>
      {% endif %}
      {% if page.top_a %}
        <div id="top_a" class="home-slide">
          {{ page.top_a }}
        </div>
      {% endif %}
    </div>
  </div> #}

  {% if page.top_b %}
    <div class="page__top_b">
      <div class="container-fluid p-0">
        <div id="top_b">
          {{ page.top_b }}
        </div>
      </div>
    </div>
  {% endif %}

  <main class="pt-5 pb-5">
    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>

  {% if page.bottom_a %}
    <div class="page__bottom_a pl-5 pr-5">
      <div class="container-fluid p-0">
        <div id="bottom_a" class="d-flex pl-5 pr-5">
          {{ page.bottom_a }}
        </div>
      </div>
    </div>
  {% endif %}

  <footer class="page__footer">
    <div class="container-fluid">
      {% if page.footer_left or page.footer_right %}
        <div class="backgrond-footer-top">
          <div class="page__footer__top">
            <div class="row">
              {% if page.footer_left  %}
                <div class="col">
                  {{ page.footer_left }}
                </div>
              {% endif %}
              {% if page.footer_right %}
                <div class="col">
                  {{ page.footer_right }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
      {% if page.footer_bottom %}
        <div class="backgrond-footer-bottom">
          <div class="page__footer__bottom"> 
            <div class="row">
              <div class="col">
                {{ page.footer_bottom }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </footer>
</div>


{# <div class="page">
  {% embed '@radix/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fixed',
    color: 'light',
    utility_classes: ['bg-light'],
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block left %}
      {% if page.navbar_left %}
        <div class="mr-auto">
          {{ page.navbar_left }}
        </div>
      {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
        {{ page.navbar_right }}
      {% endif %}
    {% endblock %}
  {% endembed %}

  <main class="pt-5 pb-5">
    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer class="page__footer">
      <div class="container">
        <div class="d-flex justify-content-md-between align-items-md-center">
          {{ page.footer }}
        </div>
      </div>
    </footer>
  {% endif %}
</div>#}
